<!DOCTYPE html>
<html>
<head>
 <meta charset="utf-8">
    <title>{% block head_title %} fcodding {% endblock head_title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
 
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
 <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/marked/0.6.2/marked.js"></script>
<script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="https://materializecss.com/dist/js/materialize.js"></script>
  <script src="https://materializecss.com/templates/parallax-template/js/init.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <!-- Compiled and minified JavaScript -->


{% load static %}
 
{% block head_extra %} {% endblock head_extra %}
 
<style>
  footer {
    background-color: white;
  }

.fade-in {
  animation: fadeIn ease 5s;
  -webkit-animation: fadeIn ease 5s;
  -moz-animation: fadeIn ease 5s;
  -o-animation: fadeIn ease 5s;
  -ms-animation: fadeIn ease 5s;
}


@keyframes fadeIn{
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}


.wmd-preview-title{
  display: none;
}
/* Remove outline on the forms and links */
:active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
}
a, 
a:active, 
a:focus {
    outline: 0;
    outline-offset: 0;
}
a.brand-logo{
  font-size: 22px;
}
i.fas{
  margin-top: 20px;
  margin-right:   20px;
  font-size: 21px;
}

@media (max-width: 990px) {
  .resizeimg {
    height: auto;
  }
}

@media (min-width: 1000px) {
  .resizeimg {
    width: auto;
    height: 350px;
  }
}
/*.section-search input {
  color: white;
}
*/
pre.prettyprint{
  border:none;
}
.break-text p {
  word-wrap: break-word;
}

.btn-block {
    display: block;
    width: 100%;
    margin-top: 12px;
}
.wmd-panel{
  margin-right: 0px;
  margin-left: 0px;
  display: inline;
}
nav .nav-wrapper form, nav .nav-wrapper form .input-field{
height: 10%;
}
.modal { width: 30% !important ; height: 30% !important ; } 




nav form {
  position: relative;
  height: 100%;
  background: inherit;
}
.nav-wrapper{
  background: inherit;
  
}

.search-close-icon{
  display: none!important;
  position: absolute;
  top: 0;
  left: 100%!important;
  padding-left: 0px;
  color: rgba(0, 0, 0, 0.54);
  transition: color .2s;
  cursor: pointer;
}


.my-grey{
  background: #f7f7f7;
}

input.search-field {
  font-weight: 500;
  color: rgba(0, 0, 0, 0.54);
  border-radius: 2px;
  border: 0;
  border-radius: 5px;
  height: 36px;
  padding: 8px 8px 8px 60px;
  width: 200px;
  background: #f7f7f7;
  transition: background 0.2s, width .2s;
}
input.search-field:hover {
  background: #ebebeb;
}
.searchbox {
  position: relative;
}
::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgba(0, 0, 0, 0.54);
}
input.search-field:focus {
  outline: none;
  width: 500px;
  color: #212121;
}
input.search-field:focus:hover {
  background: #f7f7f7;
}
.search-icon {
  position: absolute;
  top: 0;
  padding-left: 20px;
  color: rgba(0, 0, 0, 0.54);
}
.search-content {
  color: #303c42;
  width: 90%;
  margin: auto;
  height: auto;
  padding: 8px 10px;
}
.search-heading {
  color: #757575;
  display: block;
  font-size: 12px;
  line-height: 30px;
}
input.search-field ~ .search-popup {
  overflow: hidden;
  left: 0px;
  min-height: 50px;
  max-height: 700px;
  width: 200px;
  top: -450px; 
  position: absolute;
  z-index: 1;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  transition: width .2s, top .2s ease-in-out;
  border-radius: 2px;
  background-color: #fff;
}
input.search-field:focus ~ .search-popup {
  width: 500px;
  top: 50px;
}
nav ul.popup-list a:hover {
  background-color: initial;
}
nav ul.popup-list li {
  float: none;
}
nav ul.popup-list li a {
  line-height: 30px;
  padding: 0;
  font-size: 12px;
  color: #212121 !important;
}
nav ul.popup-list li a:hover {
  background-color: #f7f7f7;
}

p {
  font-size: 1.3rem;
}

.top-margin {
  margin-top: 8px;
}

@media only screen and (max-width: 600px) {
  
  nav form {
/*     left: calc(90vw - 100%); */
  }
  
  ::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: transparent;
  }

  input.search-field {
    width: 1px;
    margin-right: 0px;
    padding: 8px 25px;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
  }
  input.search-field ~ .search-popup {
    width: 1px;
    margin-right: 0px;
    padding: 8px 25px;
  }

  .search-icon {
    top: 0;
    padding-left: 15px;
    color: rgba(0, 0, 0, 0.54);
  }

  input.search-field:focus {
    margin-right: 0px;
    width: 100vw;
    padding: 8px 8px 8px 50px;
  }

  input.search-field:focus ~ .search-popup {
    width: 100vw;
  }

  .search-content {
    width: 100%;
    padding: 8px 8px;
  }

  nav .nav-wrapper {
    margin-right: 0px;
  }
}



#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: red;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#myBtn:hover {
  background-color: #555;
}

 
/*social media icons?*/
.flex-center {

  width: 100%;
  min-height: 30vh;
  /*background: #000;*/
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.icon-3d {
  padding: 10px;
  -webkit-animation: icon3d 200ms 10;
  animation: icon3d 200ms 10;
  color: #fff;
}
.icon-3d:hover {
  -webkit-animation: icon3d 200ms infinite;
  animation: icon3d 200ms infinite;
}

@keyframes icon3d {
  0% {
    text-shadow: 5px 4px #f44336, -5px -6px #2196f3;
  }
  25% {
    text-shadow: -5px -6px #f44336, 5px 4px #2196f3;
  }
  50% {
    text-shadow: 5px -4px #f44336, -8px 4px #2196f3;
  }
  75% {
    text-shadow: -8px -4px #f44336, -5px -4px #2196f3;
  }
  100% {
    text-shadow: -5px 0 #f44336, 5px -4px #2196f3;
  }
}




/*vk login*/
 
#SocialShare {

  position: relative;
}
#SocialShare a {
 
  position: relative;
  width: 45px;
  height: 30px;
  line-height: 20px;
  padding: 8px auto;
  display: list-item;
  list-style-type: none;
  text-align: center;
  color: #fff;
  margin: 10px auto;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  left: -25px;
  opacity: 0.5;
  box-shadow: 0 0 10px #000 !important;
  transition-duration: 0.4s;
  -webkit-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
}
#SocialShare a:hover {
  $box-shadow-hover: #000 !important;
}
#SocialShare i {
  line-height: inherit;
  font-size: 24px;
  text-align: center;
}
#SocialShare .top-left {
  position: fixed;
  top: 25%;
}
#SocialShare .facebook {
  background-color: #3b5998;
}
#SocialShare .twitter {
  background-color: #00aced;
}
#SocialShare .google-plus {
  background-color: #dd4b39;
}
#SocialShare .linkedin {
  background-color: #007bb6;
}
#SocialShare .pinterest {
  background-color: #c92228;
}
#SocialShare .shareCount {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  color: #fff;
  font-size: 10px;
}
#SocialShare .shareCount:hover {
  color: #ddd;
}
#SocialShare *,
#SocialShare:after,
#SocialShare:before {
  -webkit-box-sizing: content-box !important;
  -moz-box-sizing: content-box !important;
  box-sizing: content-box !important;
}
#SocialShare a:focus,
#SocialShare a:hover {
  color: #ddd;
  width: 52px;
  opacity: 1;
  left: 0;
  transition-duration: 0.4s;
  -webkit-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
}
#SocialShare a,
#SocialShare a:hover {
  outline: 0 !important;
}
.btn-social {
  color: #fff;
  position: relative;
  padding-left: 44px;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  box-shadow: 0 0 10px #000 !important;
}
.btn-social :first-child {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 32px;
  line-height: 34px;
  font-size: 1.6em;
  text-align: center;
  border-right: 1px solid rgba(0,0,0,0.2);
}
.btn-social.btn-lg {
  padding-left: 61px;
}
.btn-social.btn-lg :first-child {
  line-height: 45px;
  width: 45px;
  font-size: 1.8em;
}
.btn-social.btn-sm {
  padding-left: 38px;
}
.btn-social.btn-sm :first-child {
  line-height: 28px;
  width: 28px;
  font-size: 1.4em;
}
.btn-social.btn-xs {
  padding-left: 30px;
}
.btn-social.btn-xs :first-child {
  line-height: 20px;
  width: 20px;
  font-size: 1.2em;
}
.btn-social:hover {
  color: #ddd;
  box-shadow: 0 0 5px #000 !important;
}
.btn-social-icon {
  color: #fff;
  position: relative;
  padding-left: 44px;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 34px;
  width: 34px;
  padding: 0;
  margin-left: 8px;
  box-shadow: 0 0 10px #000 !important;
}
.btn-social-icon :first-child {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 32px;
  line-height: 34px;
  font-size: 1.6em;
  text-align: center;
  border-right: 1px solid rgba(0,0,0,0.2);
  border: none;
  text-align: center;
  width: 100% !important;
}
.btn-social-icon.btn-lg {
  padding-left: 61px;
  height: 45px;
  width: 45px;
  padding-left: 0;
  padding-right: 0;
}
.btn-social-icon.btn-lg :first-child {
  line-height: 45px;
  width: 45px;
  font-size: 1.8em;
}
.btn-social-icon.btn-sm {
  padding-left: 38px;
  height: 30px;
  width: 30px;
  padding-left: 0;
  padding-right: 0;
}
.btn-social-icon.btn-sm :first-child {
  line-height: 28px;
  width: 28px;
  font-size: 1.4em;
}
.btn-social-icon.btn-xs {
  padding-left: 30px;
  height: 22px;
  width: 22px;
  padding-left: 0;
  padding-right: 0;
}
.btn-social-icon.btn-xs :first-child {
  line-height: 20px;
  width: 20px;
  font-size: 1.2em;
}
.btn-social-icon:hover {
  color: #ddd;
  box-shadow: 0 0 5px #000 !important;
}
.btn-bitbucket {
  background-color: #205081;
  border-color: rgba(0,0,0,0.2);
}
.btn-bitbucket:hover,
.btn-bitbucket:focus,
.btn-bitbucket:active {
  background-color: #183c60;
  border-color: rgba(0,0,0,0.2);
}
.btn-dropbox {
  background-color: #1087dd;
  border-color: rgba(0,0,0,0.2);
}
.btn-dropbox:hover,
.btn-dropbox:focus,
.btn-dropbox:active {
  background-color: #0d70b7;
  border-color: rgba(0,0,0,0.2);
}
.btn-facebook {
  background-color: #3b5998;
  border-color: rgba(0,0,0,0.2);
}
.btn-facebook:hover,
.btn-facebook:focus,
.btn-facebook:active {
  background-color: #30487b;
  border-color: rgba(0,0,0,0.2);
}
.btn-flickr {
  background-color: #ff0084;
  border-color: rgba(0,0,0,0.2);
}
.btn-flickr:hover,
.btn-flickr:focus,
.btn-flickr:active {
  background-color: #d6006f;
  border-color: rgba(0,0,0,0.2);
}
.btn-foursquare {
  background-color: #0072b1;
  border-color: rgba(0,0,0,0.2);
}
.btn-foursquare:hover,
.btn-foursquare:focus,
.btn-foursquare:active {
  background-color: #005888;
  border-color: rgba(0,0,0,0.2);
}
.btn-github {
  background-color: #444;
  border-color: rgba(0,0,0,0.2);
}
.btn-github:hover,
.btn-github:focus,
.btn-github:active {
  background-color: #303030;
  border-color: rgba(0,0,0,0.2);
}
.btn-google-plus {
  background-color: #dd4b39;
  border-color: rgba(0,0,0,0.2);
}
.btn-google-plus:hover,
.btn-google-plus:focus,
.btn-google-plus:active {
  background-color: #ca3523;
  border-color: rgba(0,0,0,0.2);
}
.btn-instagram {
  background-color: #3f729b;
  border-color: rgba(0,0,0,0.2);
}
.btn-instagram:hover,
.btn-instagram:focus,
.btn-instagram:active {
  background-color: #335d7e;
  border-color: rgba(0,0,0,0.2);
}
.btn-linkedin {
  background-color: #007bb6;
  border-color: rgba(0,0,0,0.2);
}
.btn-linkedin:hover,
.btn-linkedin:focus,
.btn-linkedin:active {
  background-color: #005f8d;
  border-color: rgba(0,0,0,0.2);
}
.btn-tumblr {
  background-color: #2c4762;
  border-color: rgba(0,0,0,0.2);
}
.btn-tumblr:hover,
.btn-tumblr:focus,
.btn-tumblr:active {
  background-color: #1f3346;
  border-color: rgba(0,0,0,0.2);
}
.btn-twitter {
  background-color: #00aced;
  border-color: rgba(0,0,0,0.2);
}
.btn-twitter:hover,
.btn-twitter:focus,
.btn-twitter:active {
  background-color: #309aea;
  border-color: rgba(0,0,0,0.2);
}
.btn-vk {
  background-color: #587ea3;
  border-color: rgba(0,0,0,0.2);
}
.btn-vk:hover,
.btn-vk:focus,
.btn-vk:active {
  background-color: #4a6a89;
  border-color: rgba(0,0,0,0.2);
}
.shrink {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.shrink:hover,
.shrink:focus,
.shrink:active {
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
}




</style>

</head>


<body>

<ul id='dropdown1' class='dropdown-content'>
  {% if request.user.is_superuser or request.user.is_staff  %} 
  <li><a href="{% url 'create' %}">Создать пост</a></li>
  {% endif %}
  <li class="divider" tabindex="-1"></li>
  <li><a href="{% url 'logout' %}">Выйти</a></li>  
</ul>

<ul class="sidenav" id="mobile-links">
   {% if not request.user.is_authenticated %}
  <li><a href="{% url 'login' %}">Войти</a> </li>
  <li><a href="{% url 'register' %}">Регистрация</a> </li>
  <hr>
   {% endif %}
  <li><a href="">Linux</a> </li>
</ul>

 <nav class="nav-wraper">
  <div class="container"> 
  <!--   <a href="http://mishinartemblog.herokuapp.com/" class="brand-logo">   <i class="fab fa-angellist" style="margin-left: -90px; font-size: 35px; margin-top: 10px"></i></a> -->
    <form action="" class="browser-default center" style="display: inline-block;">
        <input id="search-input" placeholder="Поиск" type="text" class="browser-default search-field" name="q" value="" autocomplete="off" aria-label="Search box">
        <label for="search-input"><i class="material-icons search-icon" style="margin-top: 4px;">search</i></label> 
        <i class="material-icons search-close-icon">cancel</i>
      </form>
    <a href="#" class="sidenav-trigger" data-target="mobile-links">
      <i class="material-icons">menu</i>
    </a> 
  
   <ul class="right hide-on-med-and-down">
    {% if not request.user.is_authenticated %}
      <li><a href="{% url 'register' %}">Регистрация</a></li>
            <li><a href="{% url 'login' %}">Войти</a></li>
         {% else %}   
          <li><a class="dropdown-trigger" href="#!" data-target="dropdown1"><b>

        {% if request.user.get_full_name %}
          {{ user.get_full_name }}
          {% else %}
          {{ user.get_username }}
          {% endif %}

        


        </b><i class="material-icons right">arrow_drop_down</i></a></li> 
       {% endif %}
</div>
</ul>
 
 </nav>

<br>
  






<div class="container">
{% block  content %}
{% include "messages_display.html" %}
{% endblock content %}
</div>

 




<footer class="page-footer white">
  <!--   <div class="container center"> -->
  
    <div class="flex-center">
       {% if posts %}
        <ul>
        {% for post in posts %}
            <li><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></li>
        {% endfor %}
        </ul>
    {% else %}
        <p>There are no posts.</p>
    {% endif %}
     <a   href="https://vk.com/art.v.mishin"> <i class="fab fa-vk fa-4x icon-3d" style="color: #ee6e73"></i></a>
   <a   href="https://instagram.com/art.v.mishin"><i class="fab fa-instagram fa-4x icon-3d" style="color: #ee6e73"></i></a>
   <a   href="https://vk.com/art.v.mishin"><i class="fab fa-twitter fa-4x icon-3d" style="color: #ee6e73"></i></a>
   <a   href="https://vk.com/art.v.mishin"><i class="fab fa-facebook fa-4x icon-3d" style="color: #ee6e73"></i></a>
  <a   href="https://vk.com/art.v.mishin"> <i class="fab fa-whatsapp fa-4x icon-3d" style="color: #ee6e73"></i></a>

</div>
      
      </div>
    </div>


    </div>
  </footer>
 
<script type="text/javascript">
$(document).ready(function(){
     $(".content-markdown").each(function(){
          var content = $(this).text()
          console.log(content)
          var markedContent = marked(content)
          console.log(markedContent)
          $(this).html(markedContent)
     })
     var titleItem = $("#id_title");
     $("preview-title").text(titleItem.val())

})
  
 
$(document).ready(function(){
        
    $('.dropdown-trigger').dropdown();
  });

$(document).ready(function(){
        
    $('.modal').modal();
  });




 

 // Delay Button display for effect
document.addEventListener("DOMContentLoaded", function() {
  let box = document.getElementById("scale");
  setTimeout(function() {
    box.classList.add("scale-in");
  }, 500);
});

/* hide when expanded*/
document.querySelector(".search-field").addEventListener("focus", function() {
  let hidden = document.querySelectorAll(".search-hide");

  for (let i = 0; i < hidden.length; ++i) {
    hidden[i].style.display = "none";
  }
});

/* show when expanded*/
document
  .querySelector(".search-field")
  .addEventListener("focusout", function() {
    let hidden = document.querySelectorAll(".search-hide");
    for (let i = 0; i < hidden.length; ++i) {
      hidden[i].style.display = "block";
    }
  });




// Event listener for keypress in search box/open
document.getElementById('search-input').addEventListener('keyup', searchEngine);
document.getElementById('search-input').addEventListener('focus', searchEngine);

  
  // Local Search Engine *Basic
function searchEngine(e){
  
  let input = document.getElementById('search-input');
  let html = '';
  let matchingResults = [];
  let heading = document.querySelector('.search-heading');
  
//   Find Matching Results
  if(input.value === ''){
    
    searchResults.forEach(function(obj){
      heading.textContent = 'Most Visited';
      
      if(obj.frequent === true){
        matchingResults.push(obj);
      }
    })
  } else {
    
    heading.textContent = 'Search Results';
    searchResults.forEach(function(obj){
      if(obj.title.toUpperCase().includes(input.value.toUpperCase())){
        matchingResults.push(obj);
      }
    })
  }
  


  if(matchingResults.length > 0){

    matchingResults.forEach(function(el){
      html += `<li><a class="grey-text" href="${el.link}">${boldString(el.title, input.value)}</a></li>`
    })
    document.querySelector('.popup-list').innerHTML = html;
  } else{
    html = `<li>There are no suggestions for your query.</li>`
    document.querySelector('.popup-list').innerHTML = html;
  }

}




// Stored search results
let searchResults = [
  {
    title: 'CodePen',
    description: 'This is just a test',
    link: '#test1',
    frequent: false
  },
  {
    title: 'Facebook',
    description: 'Something else to test',
    link: '#test2',
    frequent: false
  },
  {
    title: 'Font Awesome',
    description: 'Something else to test',
    link: '#test3',
    frequent: false
  },
  {
    title: 'Link 1',
    description: 'Something else to test, just a link name.',
    link: '#test4',
    frequent: false
  },
  {
    title: 'Stack Overflow',
    description: 'Something else to test, just another link name.',
    link: '#test5',
    frequent: false
  },
  {
    title: 'Google',
    description: 'Something else to test, just another link name.',
    link: '#googletest',
    frequent: true
  },
  {
    title: 'Apple',
    description: 'Something else to test, just another link name.',
    link: '#appletest',
    frequent: true
  },
  {
    title: 'Microsoft',
    description: 'Something else to test, just another link name.',
    link: '#Microsofttest',
    frequent: true
  },
  {
    title: 'Github',
    description: 'Something else to test, just another link name.',
    link: '#githubtest',
    frequent: true
  }
]

// Help bold matching results
function boldString(str, find){
  var re = new RegExp(find, 'i');
  find = re.exec(str);
  return str.replace(re, '<b>'+find+'</b>');
}





// When the user scrolls down 20px from the top of the document, show the button
window.onscroll = function() {scrollFunction()};

function scrollFunction() {
  if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
    document.getElementById("myBtn").style.display = "block";
  } else {
    document.getElementById("myBtn").style.display = "none";
  }
}

// When the user clicks on the button, scroll to the top of the document
function topFunction() {
  document.body.scrollTop = 0;
  document.documentElement.scrollTop = 0;
}
</script>
   <!--  Scripts-->
   
</body>
</html>