{% extends "base.html" %}
{% load widget_tweaks %}
{% load crispy_forms_tags %}
{% block head_title %}{{ title 	}} | {{ block.super}} {% endblock head_title %}
{% block content %}
 <div class="row">
 <div class="col s6 m6 offset-m3">
 <div class="card">
 <!-- <div class="card-action lighten-1 black-text"> </div> -->
 <div class="col s10 m10 offset-m1"><div class="card-content">
 
   <span class="card-title center"> {{ title 	}} </span>
 <form method='POST' action=''>
 {% csrf_token %}
 {% for hidden in form.hidden_fields %}
  {{ hidden }}
{% endfor %}

{% for field in form.visible_fields %}
  <div class="form-group">
    <label for="{{ field.id_for_label }}"> </label>
    {{ field }}
    <label for="field.textarea2">{{ field.label }}</label>
    {% for error in field.errors %}
      <span class="help-block">{{ error }}</span>
    {% endfor %}
  </div>
{% endfor %}

 
 <!-- <div class="card-action "> -->
 
 <button class="btn btn-block waves-effect waves-light center" type="submit" name="action" >{{ title }}</button>
<!-- </div> -->
 </form>
 <br>
 <hr>
 


  <!--  <form style="display: inline" action="/login/vk-oauth2/"> 
      <button class="btn btn-block waves-effect waves-light blue accent-2 center" type="submit"   > Войти через VK</button>
</form> -->
<br>
 <div class="text-center  " >
 <p><a class="btn btn-social btn-facebook shrink center" href="/login/vk-oauth2/"  style="display: block;text-align: center" > <i class="fab fa-vk" style="font-size: 20px; padding-top: 2px; text-align: center"></i>  Войти через VK</a></p>
</div>
 </div>
   
 </div>
</div>
</div>
</div>
 
 
 

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}{% endif %}{{ message }}
    </li>
    {% endfor %}
</ul>
{% endif %}

 
{% endblock content %}
 
