{% extends "base.html" %}
{% block head_title %}{{ obj.title }}  {{ block.super }}{% endblock head_title %}
{% block content %}
 {% load i18n %}
 
<div class="row">

  {% for obj in object_list %}
  
    <div class="col s12 m12">
      <div class="card">
        <div class="card-image">
          {% if obj.image %}  <img src=" ">   {% endif %}
           
        </div>
        <div class="card-content ">
            <span class="card-title"><a href="{{ obj.get_absolute_url }}">{{ obj.title }}</a></span>
            <div class="card-text content-markdown">{{ obj.get_markdown|truncatechars_html:220}}</div>
          <p><small> {{ obj.timestamp|timesince }}</small></p>
          <p>  {% if obj.draft %}<small>(Черновик)</small> {% endif %} {% if obj.publish > today %}Будущий пост {% endif %}</p>
        </div>
        <div class="card-action ">

          <a href="{{ obj.get_absolute_url }}">Открыть</a>
        </div>
      </div>
    </div>
   
      {% endfor %}       
 </div>
 
  

<div class="row">
    <button onclick="topFunction()" id="myBtn" title="Наверх" class="waves-effect red lighten-2">
      <i class="fas fa-arrow-up  fa-8x" style="font-size:  2rem; margin: auto;"></i> </button>
<!-- _________________________________PAGINATON_________________________________ -->

<ul class="pagination center  ">
 {% if object_list.has_previous %}
 <li class="waves-effect"><a href="?page={{ object_list.previous_page_number }}{% if request.GET.q %}&={{ request.GET.q}}{% endif %}"><i class="material-icons">chevron_left</i></a></li>
 {% else %}
 <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
 {% endif %}
     
   
 {% for num in object_list.paginator.page_range %}
 {% if object_list.number == num %}
 <li class="active"> <a href="">{{ num }}</a></li>
 {% elif num > object_list.number|add:'-3' and num < object_list.number|add:'3' %}
 <li class="waves-effect"><a href="?page={{ num }}">{{ num }}</a></li>
 {% endif %}
 {% endfor %}



 {% if object_list.has_next %}
 <li class="waves-effect"><a href="?page={{ object_list.next_page_number }} {% if request.GET.q %}&={{ request.GET.q}}{% endif %}"><i class="material-icons">chevron_right</i></a></li>
 {% else %}
 <li class="disabled"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
 {% endif %}
</ul>

 <!-- _________________________________PAGINATON_________________________________ -->
 
 </div>
{% endblock content %}