{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block head_title %}{{ head_title }} | {{ block.super}} {% endblock head_title %}
{% block head_extra %} {{ form.media }}{% endblock head_extra %}
{% block content %}
 
<div class="row">
<!-- <div class="col s12 m5">
	<div class="card">
 
 <div class="card-content">
	<span class="card-title"><center>Превью</center></span> 
	 
	<div class='content-preview'>
		<h3 id='preview-title'></h3>
		<p id='preview-content'></p>
	</div>
</div>
</div></div> -->

<div class="col s12 m12">
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}{% endif %}
        {{ message }}
    </li>
    {% endfor %}
</ul>
{% endif %}

<div class="card">
 
 <div class="card-content">
<span class="card-title"><center>{{head_title}}</center></span> 
 <form method='POST' action=''>
{% csrf_token %}
{{ form|crispy}}



<input type="submit" class='btn btn-primary btn-block ' value='Сохранить'>
 
 
 
</form>
</div>
</div>
</div></div>
{% endblock content %}
 
