{% extends "base.html" %}
{% load urlify %}
{% load widget_tweaks %}
{% load crispy_forms_tags %}
{% block head_title %}{{ instance.title }} | {{ block.super }}{% endblock head_title %}
{% block content %}

{% if messages %}
<div class="fade-in">
<ul class="messages">
    {% for message in messages %}
    <div class="center"><li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}{% endif %}
        {{ message }}
    </li></div>
    {% endfor %}
</ul>
</div>
{% endif %}

<!-- _________________________________POST DETAIL________________________________ -->

<div class="row">
	<div class="col s12 m12  ">
      <div class="card">
    <div class="card-content">
        <!-- {% if instance.image %}
        <img src='{{ instance.image.url }}' class='img-responsive'>
        {% endif %} -->
        <div class="grid">
  <span class="card-title">{{ instance.title }}  {% if instance.draft %}<small>(Черновик)</small> {% endif %}</span>   
  				<div class="card-body">
    				<div class="card-text content-markdown"> {{ instance.content   }}  </div>
    				<p class="card-text"><small> {{ instance.timestamp|timesince }}</small> 
               </p>
    			  {% if request.user.is_authenticated %}
            {% if user.is_superuser or user.is_staff %} <div align="right" style="display: inline">
      

            <form style="display: inline" action="{% url 'update' slug=instance.slug %}"> 
    <input type="submit" value="Редактировать" class="btn purple lighten-2"/>
</form>


 

 <a  class="waves-effect pink lighten-2 btn modal-trigger" href="#modal1">Удалить</a>

  <!-- Modal Structure -->
   <div id="modal1" class="modal modal-fixed-footer">
    <div class="modal-content">
      <h4>Удалить пост?</h4>
    
    </div>
    <div class="modal-footer">
      <a href="{% url 'detail' slug=instance.slug %}" class="modal-close waves-effect waves-green btn-flat">Нет</a>
      <a href="{% url 'delete' slug=instance.slug %}" class="modal-close waves-effect pink lighten-2 btn-flat">Да</a>
   
    </div>
  </div>
            {% endif %}
            {% endif %}
 
  				</div>
        </div>
      </div>
 </div>
</div></div>
   <button onclick="topFunction()" id="myBtn" title="Наверх" class="waves-effect  red lighten-2">
      <i class="fas fa-arrow-up  fa-8x" style="font-size:  2rem; margin: auto;"></i> </button>
<!-- ___________________________________COMMENTS________________________________ -->
 <div class="row">
    <div class="col s12 m8 offset-m2 ">
          
      <span class="card-title"><center><p>Комментарии</p></center></span>
    {% if request.user.is_authenticated %}
 <form method="POST" action=".">
{% csrf_token %}
<!-- {{ comment_form |crispy }} -->
{% for hidden in comment_form.hidden_fields %}
  {{ hidden }}
{% endfor %}

{% for field in comment_form.visible_fields %}
  <div class="form-group">
    <!-- <label for="{{ field.id_for_label }}">{{ field.label }}</label> -->
 <div class="input-field col s12">
    {{ field|add_class:'materialize-textarea' }}
    <label for="field.textarea2">Напишите комментарий</label>
  </div>
    {% for error in field.errors %}
      <span class="help-block">{{ error }}</span>
    {% endfor %}
  </div>
 

 <div align="right">
 <input  type='submit' value="Добавить" class="btn">
</div>  
 {% endfor %}
 </form> 
 {% else %}

<p class="center"> Только авторизованные пользователи могут публиковать комментарии.
Пожалуйста, <a href="{% url 'login' %}">авторизуйтесь</a> или <a href="{% url 'register' %}">зарегистрируйтесь</a>.</p>
 
 
 {% endif %}
 <br>
  
 {% for comment in comments %}
 
  <blockquote> 
{{ comment.content }}<br>
 {% if comment.user.get_full_name %}
          {{ comment.user.get_full_name }}
          {% else %}
          {{ comment.user.get_username }}
          {% endif %}
            | {{ comment.timestamp|timesince }} 

{% for child_comment in comment.children %}
  <blockquote> 
  {{ child_comment.content }}<br>
 
   {% if comment.get_full_name %}
          {{ comment.user.get_full_name }}
          {% else %}
          {{ comment.user.get_username }}
          {% endif %}| {{ child_comment.timestamp|timesince }}  
  </blockquote> 
{% endfor %}
 <div align="right">
  <form method="POST" action=".">
{% csrf_token %}
 <!-- <div align="right">{{ comment_form |crispy }} </div> -->
 
   <input  type='hidden' name='parent_id' value='{{ comment.id }}'>
 <!-- <input  type='submit' value="Ответить" class="btn btn-danger">  -->
 </form> 
</blockquote>
  
 
 {% endfor %}
 
  </div>
   </div>
 </div>
 
{% endblock content %}
  	
 